{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include "_message.html" %}
            <h1 class="text-center mt-5">Add list</h1>
            <form action="" method="post">
                <input type="text" name="list" class="form-control">
                <input type="submit" value="Add list" class="btn btn-info mt-2">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock content %}